<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Babel Example</title>
                <!-- <link href="css/style.css" rel="stylesheet"> -->
        </head>
        <body>
                <h1>Computer: {{ _('Computer') }}</h1>
                <h1>Car: {{ car }}</h1>
                <h1>US Number: {{ results['us_num'] }}</h1>
                <h1>Swedish Number: {{ results['se_num'] }}</h1>
                <h1>Deutschen Nummer: {{ results['de_num'] }}</h1>
                <h1>US Date: {{ results['us_date'] }}</h1>
                <h1>Swedish Date: {{ results['se_date'] }}</h1>
                <h1>Deutsche Datum: {{ results['de_date'] }}</h1>
                <h1>US Datetime: {{ results['us_date'] }}</h1>
                <h1>Swedish Datetime: {{ results['se_date'] }}</h1>
                <h1>Deutsche Datum-Zeit: {{ results['de_date'] }}</h1>
        </body>
</html>
