body {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
}
#main_header {
        display: block;
        text-align: center;
}

.btn-div label {
        font-weight: bold;
        font-size: 2em;
}

.btn-div input {
        font-size: 2em;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
}

.btn-div button {
        font-size: 2em;
        background-color: blue;
        padding: 10px 20px;
        border-radius: 16px;
        cursor: pointer;
}

.btn-div button:hover {
        background-color: green;
}
