/*
To align on th cross axis- you need a height property to use
align-items which is 'kinda equivalent to justify-content'
*/
*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body{
        font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
        display: flex;
        background: lightgray;
        justify-content: space-between;
        /*
        flex-wrap property wraps flex items if another 'width' cannot fit
        flex-wrap: wrap;
        */
}

.item{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #254de4;
        color: #fff;
        margin: 10px;
}
/*
This jumbles up the order

.item:nth-of-type(1){
        order: 3;
}

.item:nth-of-type(2){
        order: 1;
}

.item:nth-of-type(3){
        order: 2;
}
*/

.item:nth-of-type(1){
flex-grow: 2;
}

.item:nth-of-type(2){
flex-grow: 2;
        /*
        flex-basis is an optional equivalent for width for flexbox
        flex-basis: 200px;

        flex-grow rate to which a flex-item extends to fill available space
        flex-grow: 2;

        flex-shrink rate to which a flex-item shrinks
        flex-shrink: 2;

        Or shorthand flex: 0 1 100px;
        IE:-> grow shrink basis
        */
}

.item:nth-of-type(3){
flex-grow: 2;
}
