body {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 2em;
}

#btn-submit {
        font-size: 1.25em;
        background-color: lightblue;
        padding: 10px 20px;
        border-radius: 16px;
        margin-top: 20px;
        border: 0px;
        transition: background-color 0.25s;
        cursor: pointer;
}

#btn-submit:hover {
        background-color: green;
}
